<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IBM_call_of_code</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Location-5.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/tc-cardhover-14.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form-1.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form.css">
</head>

<body style="background: url(assets/img/cloud-sky-field-prairie-windmill-wind-1021864-pxhere.com.jpg);background-size: cover;opacity: 0.8;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="Land.html"><img src="assets/img/Logo.png" style="max-width: 52px;"><em>Aelous</em></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"><span class="ml-auto navbar-text actions"> <a href="Login.html" class="login">Log In</a><a class="btn btn-light action-button" role="button" href="Registration.html">Sign Up</a></span></div>
    </div>
    </nav>
    </div>
    <div id="Promo">
        <div class="jumbotron" style="margin-top: 130px;">
            <h2>Predict the Future of Energy</h2>
            <p>"A transition to clean energy is about making an investment in our future"</p>
            <p><a class="btn btn-primary" role="button" href="Login.html">Explore Now</a></p>
        </div>
    </div>
    <div class="container" style="padding-top: 5%;padding-bottom: 5%;">
        <div class="row">
            <div class="col">
                <p style="font-family: Copse;font-style: normal;font-weight: normal;text-align: center;font-size: 21px;border-radius: 20px;line-height: 40px;color: #000000;background: #82ACD2;opacity: 0.83;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);">&nbsp;<strong>Why conserve energy?&nbsp;</strong><br>We're trying to shift our use of fuel. Forget saving energy; if we get the right kind of energy, there are endless amounts!&nbsp;</p>
            </div>
            <div class="col-sm-6 col-xl-3">
                <p style="font-family: Copse;text-align: center;font-style: normal;font-weight: inherit;font-size: 21px;border-radius: 20px;line-height: 40px;color: #000000;background: #82ACD2;opacity: 0.83;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);"><strong>&nbsp;How our application is going to support the cause?&nbsp;</strong><br> It predicts the accessibility of wind vitality assets and encourages the improvement in wind energy production.&nbsp;</p>
            </div>
            <div class="col-sm-6 col-xl-3" style="/*opacity: 0.83;*//*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);*/">
                <p style="font-family: Copse;font-style: normal;font-weight: inherit;text-align: center;font-size: 21px;line-height: 40px;border-radius: 20px;color: #000000;background: #82ACD2;opacity: 0.83;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);"><strong>&nbsp;What is our main motto?&nbsp;</strong><br>Our vision is to moderate this inexhaustible wellspring of energy and thus, save the earth and construct a sustainable future.&nbsp;</p>
            </div>
            <div class="col">
                <p class="lead" style="font-family: Copse;font-style: normal;font-weight: normal;text-align: center;/*font-size: 40px;*/border-radius: 20px;line-height: 40px;background: #82ACD2;color: #000000;opacity: 0.83;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);"><strong>How do we achieve it?&nbsp;</strong><br> By this application we will predict a few qualities which are fundamental parts of bridling wind energy to its extreme.&nbsp;</p>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center"> Latest Deep learning model which uses the present value and predict the future </p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Accessible everywhere</h3>
                    <p class="description">You can get to the application from any piece of the world and anyone can access it.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">It can be accessed anytime, irrespective of your location and it is convenient to use.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">It is anything but difficult to deal with and advantageously accessible. You can autofill the directions or pick any area all through the world. </p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Renewable</h3>
                    <p class="description">Wind vitality is the most sustainable type of energy. We anticipate the eventual fate of maintainability and safeguard nature.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Swift</h3>
                    <p class="description">Sets aside less effort to foresee the fate of energy. Afterall what's quicker than foreseeing the future itself.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">We are intending to make a progressively available variant of the application utilizing portable application. Stay tuned!</p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Location.js"></script>
    <script src="assets/js/Map-Location-5.js"></script>
    <script src="assets/js/mapid.js"></script>
</body>

</html>