<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IBM_call_of_code</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Articale-List-With-Image-Zoom.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/css/dh-row-text-image-right-responsive.css">
    <link rel="stylesheet" href="assets/css/Features-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Map-Location-5.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/tc-cardhover-14.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form-1.css">
    <link rel="stylesheet" href="assets/css/TD-BS4-Simple-Contact-Form.css">
</head>

<body>
    <div class="login-dark">
        <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light" style="opacity: 0.8;">
            <div class="container"><a class="navbar-brand" href="Land.html"><img src="assets/img/Logo.png" style="max-width: 52px;"><strong><em>Aelous</em></strong></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
    </nav>
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <p style="font-size: initial; color: #C4C3C0;">If Account doesn't exist?<a href="Registration.html" style="color: #0056b3;">Sign Up</a><br></p><input class="form-control" type="email" name="email" required="" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" required="" placeholder="Password"></div>
        <div class="form-group"><a class="btn btn-primary btn-block" role="button" href="Home.html">Log In</a></div><a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Location.js"></script>
    <script src="assets/js/Map-Location-5.js"></script>
    <script src="assets/js/mapid.js"></script>
</body>

</html>